.fullpage{
  /* position: absolute;
  top: 0;
  width: 100%; */
  height: 100vh; /* 100% of viewport height */
  width: 100vw;  /* 100% of viewport width */
  /* display: flex; */
  justify-content: center; /* Centers content horizontally */
  align-items: center;     /* Centers content vertically */
  /* background-color: lightgray; */
  position: relative;
}
.section {
  height: 100vh; /* 100% of the viewport height */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any padding */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* scroll-snap-align: start; */
  scroll-snap-align: center;
  /* font-size: 3rem; */
  /* min-height: 600px; */
  overflow: hidden;
  animation: fadeIn 1s ease-out;
  transition: transform 1s ease;
  /* flex-direction: column; */
  /* padding: 50px 0;  */
  /* padding-top: 50px; 
  padding-bottom: 50px; 
  height: calc(100vh - 100px);  */
}
.section.scrolling {
  transform: translateY(100%);
}
/* .fp-section.fp-table,
.fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  vertical-align: middle; 
  width: 100%; 
  height: 100%; 
  padding: 0 0 0; 
} */
.fp-tableSlider {
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  /* padding: 200px 0 200px; */
}
.fp-tableOurCampuses{
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 250px 0 200px;
  }
   .fp-tableExplore {
    background-image: url(/images/explore-bg.webp);
    background-color: #ffffffad;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 350px 0 200px;
  }
  .fp-tableExperiment {
    background-color: #fff;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 200px 0 200px;
  }
  .fp-tableInnovate{
    background-color: #fff;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 300px 0 200px;
  }
  .fp-tableEvolve {
    background-color: #fff;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 300px 0 200px;
  }
   .fp-tableLead {
    background-image: url(/images/explore-bg.webp);
    background-color: #ffffffad;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 300px 0 200px;
  }
   .fp-tableGallery {
    background-color: #fff;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 300px 0 200px;
  }
   .fp-tableDifference {
    background-image: url(/images/explore-bg.webp);
    background-color: #ffffffad;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 300px 0 200px;
  }
   .fp-tableAwards {
    background-color: #fff;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 300px 0 200px;
  }
   .fp-tableSchoolupdates {
    background-image: url(/images/explore-bg.webp);
    background-color: #ffffffad;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 300px 0 200px;
  }
   .fp-tableTestimonials {
    background-color: #fff;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 250px 0 200px;
  }
  .fp-tableFooter{
    background-color: #fff;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 300px 0 200px;
  }
/* For screens larger than 1441px */
@media (min-width: 1441px) {
  /* Styles for large screens */
}

/* For screens between 1200px and 1440px */
@media (min-width: 1200px) and (max-width: 1440px) {
  /* Styles for medium-large screens */
}

/* For screens between 768px and 1199px */
@media (min-width: 768px) and (max-width: 1199px) {
  /* Styles for tablets and smaller desktops */
}

/* For screens between 415px and 767px */
@media (min-width: 415px) and (max-width: 767px) {
  /* Styles for mobile devices */
}

/* For screens smaller than 414px (i.e., small phones) */
@media (max-width: 414px) {
  /* Styles for small phones */
}
