.fp-warning,
.fp-watermark a {
  display: none !important;
}

/* Styling the callbacks log */
/* #callbacksLog {
  width: 50vw;
  position: fixed;
  top: 50px;
  left: 50px;
  color: white;
  z-index: 999;
  display: none;
}

#callbacksLog p {
  font-size: calc(0.5em + 0.6vw);
  background: rgba(255, 255, 255, 0.4);
  margin: 0;
  padding: 0.6em;
}

#callbacksLog h4 {
  font-size: calc(0.7em + 0.6vw);
  margin: 0 0 0.3em 0;
  font-weight: bold;
  text-decoration: underline;
} */
/* /styles/ScrollspyMenu.css */
.scrollspyMenu {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-set-green);
  padding: 0.1rem;
  border-radius: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollspyMenu.sticky {
  position: fixed;
  /* position: sticky; */
  margin-top: 88px;
  /* top: 0;  */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1111;
}

.scrollspyMenu ul {
  list-style-type: none;
  padding: 0;
}

.scrollspyMenu li {
  margin: 0.5rem 15px;
  display: inline-block;
}

.scrollspyMenu a {
  text-decoration: none;
  color: var(--color-set-white);
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-family-heading);
  font-size: 15px;
  padding: 1px 10px;
}

.scrollspyMenu .active a {
  color: var(--color-set-yellow);
  /* color: var(--color-set-yellow); */
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-family-heading);
  font-size: 15px;
  padding: 1px 10px;
}

/* ***************************************************************Fullpage.js css */
/* .section {
  color: #fff;
  text-align: center;
  padding-right: 10%;
} */

/* Overwriting styles for the navigation dots */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}
/* .my-custom-video{

} */
.my-custom-campuses{
    height: auto;
    padding-top: 2.5em;
}
.my-custom-explore{
  height: auto;
  padding-top: 10.5em;
}
.my-custom-experiment{
  height: auto;
  padding-top: 10.5em;
}
.my-custom-innovate{
  height: auto;
  padding-top: 10.5em;
}
.my-custom-evolve{
  height: auto;
  padding-top: 10.5em;
}
.my-custom-lead{
  height: auto;
  padding-top: 10.5em;
}
.my-custom-difference{
  height: auto;
  padding-top: 5.5em;
}
.my-custom-gallery{
  height: auto;
  padding-top: 10.5em;
}
.my-custom-awards{
  height: auto;
  padding-top: 5.5em;
}
.my-custom-school-updates{
  height: auto;
  padding-top: 5.5em;
}
.my-custom-testimonials{
  height: auto;
  padding-top: 5.5em;
}
.my-custom-testimonials{
  height: auto;
  padding-top: 5.5em;
}
.my-custom-footer{
  height: auto;
  padding-top: 5.5em;
}

/* .my-0-1 {
  margin-top: -2rem !important;
  margin-bottom: 7rem !important;
 }
.my-0 {
  margin-top: 1rem !important;
  margin-bottom: 0rem !important;
 }
.my-1 {
  margin-top: 3rem !important;
  margin-bottom: 10rem !important;
 }
 .my-2 {
  margin-top: 3rem !important;
  margin-bottom: 8rem !important;
 } */
 
/* Background colors for sections */
.fp-section:nth-child(1) {
  background-color: #fff;
  /* height: 100vh;  */
}

.fp-section:nth-child(2) {
  background-color: #fff;
  /* height: 80vh;  */
  /* margin-top: -150px; */
}

.fp-section:nth-child(3) {
  background-image: url(/images/explore-bg.webp);
  background-color: #ffffffc2;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.fp-section:nth-child(4) {
  background-color: #fff;
  /* margin-top: 100px; */
}

.fp-section:nth-child(5) {
  background-image: url(/images/explore-bg.webp);
  background-color: #ffffffc2;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.fp-section:nth-child(6) {
  background-color: #fff;
}

.fp-section:nth-child(7) {
  background-image: url(/images/explore-bg.webp);
  background-color: #ffffffc2;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.fp-section:nth-child(8) {
  background-color: #fff;
}

.fp-section:nth-child(9) {
  background-image: url(/images/explore-bg.webp);
  background-color: #ffffffc2;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.fp-section:nth-child(10) {
  background-color: #fff;
}

.fp-section:nth-child(11) {
  background-image: url(/images/explore-bg.webp);
  background-color: #ffffffc2;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.fp-section:nth-child(12) {
  background-color: #fff;
}

.fp-section:nth-child(13) {
  background-color: rgb(233, 236, 239);
  /* background-image: url(/images/explore-bg.webp);
  background-color: #ffffffc2;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover; */
}

/* Overwriting navigation arrows for slides */
#fp-nav.fp-right {
  right: 0;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: var(--color-set-yellow) !important;
}

.fp-prev {
  margin-left: 3%;
}

.fp-next {
  margin-right: 3%;
}

/* .fullpage {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fullpage-wrapper {
  height: 100%;
  position: relative;
  touch-action: none;
}
.section {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  min-height: 600px !important;
  overflow: hidden;
  animation: fadeIn 1s ease-out;
  transition: transform 1s ease;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-align:start;
} */

/* .section.scrolling {
  transform: translateY(100%);
} */

/* .fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
} */
/* .learn {
  background-image: url(../images/learn-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 50px 0 60px;
} */
/* .fp-tableSlider {
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 200px 0 200px;
}

.fp-tableOurCampuses {
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 250px 0 200px;
}

.fp-tableExplore {
  background-image: url(/images/explore-bg.webp);
  background-color: #ffffffc2;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 350px 0 200px;
}

.fp-tableExperiment {
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 200px 0 200px;
}

.fp-tableInnovate {
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 300px 0 200px;
}

.fp-tableEvolve {
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 300px 0 200px;
}

.fp-tableLead {
  background-image: url(/images/explore-bg.webp);
  background-color: #ffffffc2;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 300px 0 200px;
}

.fp-tableGallery {
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 300px 0 200px;
}

.fp-tableDifference {
  background-image: url(/images/explore-bg.webp);
  background-color: #ffffffc2;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 300px 0 200px;
}

.fp-tableAwards {
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 300px 0 200px;
}

.fp-tableSchoolupdates {
  background-image: url(/images/explore-bg.webp);
  background-color: #ffffffc2;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 300px 0 200px;
}

.fp-tableTestimonials {
  background-color: #fff;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 250px 0 200px;
}

.fp-tableFooter {
  background-color: #fff;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 300px 0 200px;
} */
 /* Example CSS for sticky header */
.scroll-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 0.5s ease;
}
/* Scrollspymenu internal pages css */
.fixed-nav {
  position: fixed;
  top: 85px;
  left: 0;
  width: 100%;
  /* z-index: 9999; */
  background-color: var(--color-set-green);
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.1);
  /* transition: all 0.3s ease-in-out; */
  animation: smoothScroll 1s forwards;
  -o-animation: smoothScroll 1s forwards;
  -moz-animation: smoothScroll 1s forwards;
  -webkit-animation: smoothScroll 1s forwards;
  animation: smoothScroll 0.6s ease-out forwards;
}
/* Simplified keyframe animation for smooth scroll */
@keyframes smoothScroll {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Home scrollspy menu animation timing */
/* .scrollspyMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.scrollspyMenu li {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}

.scrollspyMenu li.active {
  font-weight: bold;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */
